@import 'base.css';

/***** 공통사항 *****/
.cycle-pager { text-align: center; width: 100%; z-index: 9000; position: absolute; bottom: 10px; overflow: hidden;}
.cycle-pager span { font-family: arial; font-size: 30px; 
	display: inline-block; color: rgb(85, 85, 85); cursor: pointer; }
.cycle-pager span.cycle-pager-active { color: rgb(224, 47, 100);}
.cycle-pager > * { cursor: pointer;}
@media screen and (max-width:768px) {
	html, body {font-size:14px;}
}
@media screen and (max-width:480px) {
	html, body {font-size:12px;}
}
@media screen and (max-width:320px) {
	html, body {font-size:10px;}
}

@keyframes sizeUp {
	0% {transform:scale(1);}
	100% {transform:scale(1.2);}
}
@keyframes sizeDn {
	0% {transform:scale(1.2);}
	100% {transform:scale(1);}
}

/***** spa_ani *****/
.spa_ani {animation-fill-mode:forwards; opacity:0; animation-timing-function:ease-in-out;}
@keyframes opaShow {
	0% {opacity:0; transform:scale(0.5);}
	99% {opacity:1; transform:scale(1.02);}
	100% {opacity:1; transform:scale(1);}
}
@keyframes rtMove {
	0% {transform:translateX(100%); opacity:0;}
	99% {transform:translateX(-1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes ltMove {
	0% {transform:translateX(-100%); opacity:0;}
	99% {transform:translateX(1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes topMove {
	0% {transform:translateY(-100%); opacity:0;}
	99% {transform:translateY(1%); opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes botMove {
	0% {transform:translateY(100%); opacity:0;}
	99% {transform:translateY(-1%); opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}



/***** Header *****/
header {width:100%; position:fixed; font-family: 'Slabo 27px', serif;
	font-size:1rem; background-color: #f1f1f1; z-index:99999; top:0; left:0; }
.logo { padding-left: 4rem;}
.nav {cursor:pointer;}

/***** navigation PC *****/
.navs1{color:#222; float: left; width: 100%;padding-right: 3rem;}
.nav1 { float: right; padding:0.75em; }
.navs2{float: left; padding-left: 3rem;padding-top: 1rem; }
.nav2 {display: inline-block; padding:0.75em; font-size: 1.3rem; letter-spacing:1rem }
.nav2 > a{color: #121212}
.nav2 > a:hover{ color:#b38b0a}
.logo >img {width:20%;}


.banner {position:relative; width:100%; overflow:hidden;}
.banner_wrap {position:relative; width:100%;}
.banner_wrap > li{ position: absolute; width:100%;}


/*배너무빙의 기준*/
/***** banner PC .banner_wrap > li {position:absolute; width:100%;}
.banner_slogan {position:absolute; width:90%; left:5%; top:50%; color:#fff; transform:translateY(-50%); font-size:1rem;}
.banner_slogan > h1 {font-size:4em; margin-bottom:0.75em;}	
.banner_slogan > h4 {font-size:1.5em; margin-bottom:1em;}	
.banner_slogan > button {font-size:1em; padding:1em; 
	background-color:rgba(248, 248, 219, .7); color:#121212; border:none;}	
.banner_slogan > button:hover {background-color:rgba(248, 248, 219, 1);}
*****/


.page1{font-family: 'Slabo 27px', serif;}

.page1 > h2{padding-top: 5rem; letter-spacing: 1rem; font-weight: bold;     padding-left: 1rem}

.box1{ background-color: #e7ccaf;
	   position: relative; height: 30em; margin-top: 8rem;}


.pimg {float: left; 
	width: 33.3%;}
.imgbg{ background-color: rgba(0, 0, 0, 0.8); width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: none;  }

.img1 > img{width: 90%; float: right; margin-right: 1rem  }



.img2{ position: relative;}
.img2 >.imgbg> img {width: 95%; }
.img2:hover .imgbg{ display: block;}
.img2 >.imgbg> div{ margin: auto; text-align: center;
    padding: 10rem; text-align: right
}
.img2 >.imgbg> div>h2{ color: #eee ; font-family: 'Slabo 27px', serif; }
.img3 > img {width: 90%; margin-left: 1rem}



.p1_text{ float: right}
.p1_text > h2{font-size: 5rem; letter-spacing: 5rem; font-weight: bold}
.p1_text > h4{font-family: 'PT Serif', serif; letter-spacing: 3rem; font-size: 1.6rem; font-style: italic; }

.page2{margin: 5rem; font-family: 'Slabo 27px', serif;}
.container {margin: 5rem 10rem}
.lookbook_wrap { float: right; width: 80%;}
.lookbooks{ float: right; width: 100%;}
	.lookbooks > li {float: left;}
	.lookbook_img{ width: 70%;
		float: right;}
    .lookbook_txt {background-color: #ffdddb; writing-mode: tb-rl; padding: 1rem 1rem 8rem 1rem; margin-left: 8rem; width:10%;font-size: 1.3rem;font-style: italic; font-weight: lighter}
	.spring {text-align: right; font-size: 7rem; color: #f24f50; font-style: italic; }

.collec_wrap {margin-top: -35rem; width: 16%; position: relative; float: left;}
.collec_tit {background-color: #f3a7a9; text-align: center; padding: 2rem 9rem 2rem 35rem;font-size: 2rem; line-height: 100%;}
.collec_imgs {padding: 0.75rem; width:150%}

.collec_wrap>ul>.btns{ float: right; display: inline-block;}

.btns > button {  padding: 1rem 3rem 1rem 3rem; color: #242424; background-color: #ffdddb}
.btns >.now{ margin-right: -10rem; margin-top: 3rem; text-align: center ;transition: .8s; transition-delay: .4s}
.now:hover{ background-color: #f24f50;color: white; }

.page3{ margin: 10rem; font-family: 'PT Serif', serif;}
.P3_hd{ margin: auto}
.P3_hd>ul{float: left; width: 50%;}
.P3_hd>ul>li{ float:right;  padding: 2rem; width: 55%;}
.P3_hd>ul>li>h2{font-size: 3rem; display: block; width: 10%}
.P3_hd>ul>li>h2:hover{ border-bottom: 0.1rem solid red; color:red
; transition: 0.3s; width: 50%; transition-delay: .4s}




.li_img{ float: right; width: 50%;}
.li_img>img{ width: 80%}
.li_txt>h4{line-height: 2rem; padding: 1rem;}

.md_tab{ font-size: 1rem; font-family: 'Slabo 27px', serif;}
.md_tab > li{ float: left; width: 24%; padding: 1rem;  border-right: 0.1rem solid #eee }

.btn_View{border-bottom: .1rem solid #121212 ; transition: 1s; transition-delay: .3s; }

.btn_View:hover{ border: .1rem solid red}

.page4{}

.ssnew{ }

.ssnew>li>h3{ padding-left: 1rem;  font-weight: bold; letter-spacing: 1rem; font-family: 'Slabo 27px', serif; }

.imgfr{float: right; width:50%; padding-bottom: 1rem}
.imgfr>img{ width: 100%}

.flbtn { text-align: center; float: left;;  width:50%;margin-top: 10rem;}
.flbtn>.bgclo{ background-color:#30341b; padding: 5rem; }
.new_btn{ background-color: #b1b9ae ; color: cornsilk; display: block;width: 30%; margin: auto;margin-top: 0.5rem; }
.new_btn:hover{ }


footer{font-family: 'Nanum Gothic', sans-serif;}
.footbg {background-color:#333; color: #eee; padding:3rem 6rem}
		

.footul>li{ float: left; width:  33.3%; }

.footbg>ul>.foot_fl>li>img{width:50%}

.footbg>ul>ul{ float: left; width:24.3%; text-align: center;}
.footul>ul>li>h2{font-family: 'Slabo 27px', serif; }
.footul>ul>li{line-height: 2rem;}
.foot_fl>li{line-height: 1.6rem;}

.sns>li:not(:first-child){ width: 10%;text-align: center; display: inline-block;}