@import 'base.css';

/***** 공통사항 *****/
.cycle-pager { text-align: center; width: 100%; z-index: 9000; position: absolute; bottom: 10px; overflow: hidden;}
.cycle-pager span { font-family: arial; font-size: 30px; 
	display: inline-block; color: rgb(85, 85, 85); cursor: pointer; }
.cycle-pager span.cycle-pager-active { color: rgb(224, 47, 100);}
.cycle-pager > * { cursor: pointer;}
@media screen and (max-width:768px) {
	html, body {font-size:14px;}
}
@media screen and (max-width:480px) {
	html, body {font-size:12px;}
}
@media screen and (max-width:320px) {
	html, body {font-size:10px;}
}

@keyframes sizeUp {
	0% {transform:scale(1);}
	100% {transform:scale(1.2);}
}
@keyframes sizeDn {
	0% {transform:scale(1.2);}
	100% {transform:scale(1);}
}

/***** spa_ani *****/
.spa_ani {animation-fill-mode:forwards; opacity:0; animation-timing-function:ease-in-out;}
@keyframes opaShow {
	0% {opacity:0; transform:scale(0.5);}
	99% {opacity:1; transform:scale(1.02);}
	100% {opacity:1; transform:scale(1);}
}
@keyframes rtMove {
	0% {transform:translateX(100%); opacity:0;}
	99% {transform:translateX(-1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes ltMove {
	0% {transform:translateX(-100%); opacity:0;}
	99% {transform:translateX(1%); opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes topMove {
	0% {transform:translateY(-100%); opacity:0;}
	99% {transform:translateY(1%); opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes botMove {
	0% {transform:translateY(100%); opacity:0;}
	99% {transform:translateY(-1%); opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}



/***** Header *****/
header {width:100%; position:fixed;
	font-size:1rem; background-color: white; z-index:99999; top:0; left:0; }
.logo {margin-top: 3em; margin: auto}
.nav {cursor:pointer;}

/***** navigation PC *****/
.navs1{font-family: 'Cabin', sans-serif; background-color: #121212; color: #f1f1f1; float: left; width: 100%}
.nav1 { float: right; padding:0.75em }
.navs2{text-align: center; }
.nav2 {display: inline-block; padding:0.75em; font-weight: bold; }
.nav2 > a{color: #121212}
.nav2 > a:hover{ color:#df1e3b}
.logo{text-align: center; padding:1em;}



.banner {position:relative; width:100%; overflow:hidden;}
.banner_wrap {position:relative; width:100%;}
.banner_wrap > li{ position: absolute; width:100%;}


/*배너무빙의 기준*/
/***** banner PC .banner_wrap > li {position:absolute; width:100%;}
.banner_slogan {position:absolute; width:90%; left:5%; top:50%; color:#fff; transform:translateY(-50%); font-size:1rem;}
.banner_slogan > h1 {font-size:4em; margin-bottom:0.75em;}	
.banner_slogan > h4 {font-size:1.5em; margin-bottom:1em;}	
.banner_slogan > button {font-size:1em; padding:1em; 
	background-color:rgba(248, 248, 219, .7); color:#121212; border:none;}	
.banner_slogan > button:hover {background-color:rgba(248, 248, 219, 1);}
*****/


.page1{}



.box1{ background-color: #cab7e5;
	   position: relative; height: 30em; margin-top: 10rem;}

.box1 > h2 { font-family: 'Volkhov', serif;
					font-size: 5rem;
				   display: inline-block;
				  color:#2d1f42; letter-spacing: 2.25rem;
				  margin-top: 3rem; }


.img1{ float: left; 
    width: 33.3%;}
.img1 > img{width: 86.5%; float: right; margin-top: 1rem; }


.img2{ float:  left; width: 33.3%;}
.img2 > img {width: 91%;right: 10rem; margin-top: -5rem;
			}


.text{float: left; 
      width: 33.3%;
}
.img_txt1{margin: 5rem; line-height: 2.25rem;}

.img_txt1 > h3 { color:#e9dbfc; font-family: 'Volkhov', serif; font-size: 1,25rem }
.img_txt1 > h3 > strong { color: #3e1768; font-style: italic; font-size: 2rem}


.img_txt2{  background-color: #f1f1f1; width: 70%; float: right;}
.img_txt2  > div > h3 { font-weight: bold; color:#7d4a65; line-height: 2rem; }
.img_txt2 > div >h4> a{ color: #121212; font-weight: bold; }
.img_txt2 > div > h4> a:hover{color:#7d4a65;}
.img_txt2 > div {text-align: right; padding: 1rem;}

@media screen and (max-width:1028px) {

.box1 > h2 {
font-size: 2.9rem;
margin: 0;}


}


@media screen and (max-width:768px) {
	.box1 > h2 { margin: 0;}
	.img_txt1 {margin: 1rem;}
	.box1 > h2 {font-size: 4rem}
}
@media screen and (max-width:480px){
	.img_txt2>div > h3 {font-size: 1.8rem; font-weight: bold;}
	.img_txt1 > h3 {font-size: 1.5rem;}
	.box1 > h2{letter-spacing: 1.3rem;}
	.box1{height: 23em;}
}

@media screen and (max-width:320px){
	.box{height: 20em;}
	.img_txt1 { font-size: 1.25rem;}
	.img_txt2 > div > h3{font-size: 1.25rem; line-height: 100%}
	.img_txt2 > div > h4{ font-size:1rem}
	.box1 > h2 {letter-spacing: 2.5px;}
	.img2 > img {margin-top: 4rem; width: 100%;}
	.img1 > img{width: 100%}
}

.page2 { margin: 3rem 0 3rem 0;}
.bg{ background-color: #0a3442; position: relative; }

.box2{ float: left;  background-color: #f1f1f1; width: 70%;margin: auto}

.tit{ float: left; width:20%; }
.tit > h1 {color: #e8e9e8;font-family: 'Volkhov', serif; font-size: 3.25rem;
	writing-mode: vertical-rl; margin: auto;  }
.shoes{}
.shoes > li { float: left; width: 50%; padding: 1rem;}
.shoes > li > img{width: 90.5%;}

.shoes > li > h2{ font-family: 'Cabin', sans-serif; font-weight: bold;}

.shoes > li > span{ font-family: 'Nanum Gothic', sans-serif; }

.shoes > li >div{    font-size: 2.6rem; float: right;}
.shoes > li:hover div{color : #9db945}
.shoes > li:hover h2{color : #9db945}


.md_hd{ margin: auto; text-align: center; margin: auto;
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;}

.md_hd > h2 { font-size: 2rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
	margin-bottom: 1.25rem;}
	
.md_hd >ul >li{ display: inline-block; margin: auto;
				padding: 1.25rem; }

.md_shoes{ margin: auto; width: 70%; }

.md_shoes > h2 {font-size: 2rem; font-weight: bold; }

.md_box > a > h2 { font-family: 'Nanum Gothic', sans-serif;
					 font-weight: bold; color: #f1f1f1; font-size: 1.25rem }
					 
.md_box > a > h2:hover{ color:#d0e786}

.md_shoes > li {width: 52.2%; float: left; text-align: center; }
.md_shoes > li > img { width: 78%; margin: auto; }

.shoes_box > li:hover .w3-button { display: block; }


.shoes_box{float: left; width: 47%; }
.shoes_box > li{float: right;
    width: 46%;
    border: 0.1em solid #eee;
    margin-left: 1rem;
	margin-bottom: 1rem;
	position: relative;}

.shoes_box > li:hover{ border: 0.1em solid #0a3442;}


.w3-button{ background-color:#457483; color: #eee; display: none; position: absolute;
	        left: 0; top:0; right: 0; }


.shoes_box > li:hover .w3-button { display: block; }

.shoes_txt > h3{ font-family: 'Nanum Gothic', sans-serif;
font-size: 1rem; font-weight: bold; line-height: 1.6rem; margin: 0.1rem 1rem;  }


.md_shoes >li> div {background-color: #6d9ba6; text-align: left; padding: 2rem;}
.md_shoes >li:hover{ border: 0.1em solid #0a3442;}



.box_img >img { width: 99.9%; padding: 1rem;
}

@media screen and (max-width:1028px) {
	.md_shoes > li { width: 100%;}	
	.shoes_box {width: 100%; margin-top:1rem;}
	
}

@media screen and (max-width:768px) {
	.md_shoes > li { width: 100%;}	
	.shoes_box {width: 100%; margin-top:1rem;}
	
}

@media screen and (max-width:480px) {
	.img_txt2 {width: 100%}
	.shoes > li{ width: 100%}
	.shoes > li > h2 { font-size: 1.9rem}

}
@media screen and (max-width:320px){
	.tit > h1{ font-size: 2.5rem}
	.shoes_box > li {width: 100%}
	.bg{ padding:1rem }

}




.PRODUCTS{ margin: auto; font-family: 'Volkhov', serif; margin: 1rem;}



.pro_lt > li> img{
    float: left;
	width: 95%}


.pro_lt> li  { letter-spacing: 2.25rem; }
.pro_lt > li:last-child{width: 45%; padding: 1rem; float: left;}
.pro_lt>li> h2{font-size:2.6rem;writing-mode: vertical-rl;
				border-right: 0.1rem solid #d3aae0; float: right;
			font-weight: bold;}
.pro_lt>li> h3{ border-bottom: 0.1rem solid #d3aae0; display: inline-block;}



.pro_lt>li:first-child{float: left; width:5%;}
.pro_mid{ float: left; width: 16%}



.pro_mid >li:first-child > h4 { writing-mode: vertical-rl;margin: auto; }
.pro_mid >li:first-child{border: none;}

.pro_mid > li{ width: 100% ;display: inline-block; text-align: center;
	margin: 1rem; border: 0.1rem solid #eee; padding: 1rem;}

.pro_mid >li:hover{border: 0.1em solid #0093fa;}	

.pro_mid > li > h3 {font-family: 'Nanum Gothic', sans-serif; font-size: 0.8rem; font-weight: lighter}
.pro_mid> li >img{ width:65.5% }


.box_nb > h4 { writing-mode: vertical-rl;}


.pro_rt{ float: right;}
.pro_rt >li> img { float: right}
.pro_rt > li > h2{letter-spacing: 2.25rem; text-align: right; ;}
.pro_rt > li > h2 >span{}



@media screen and (max-width:1028px) {
	.PRODUCTS {margin: 0}
	
	
	.pro_mid {
		float: left;
		width: 100%;
	}
	
	.pro_rt {
		width: 100%;}
	
	.pro_mid >li{ display: inline-block;
		float: left;
		margin-left: 0.1rem;
		width: 22%;}

}



@media screen and (max-width:768px) {
	.PRODUCTS {margin: 0}
	
	
	.pro_mid {
		float: left;
		width: 100%;
	}
	
	.pro_rt {
		width: 100%;}
	
	.pro_mid >li{ display: inline-block;
		float: left;
		margin-left: 0.1rem;
		width: 22%;}}

@media screen and (max-width:480px) {
	.pro_mid > li {width: 30%;}
	.pro_mid > li > h3 {font-size: 1rem;}
	.pro_lt >li{  letter-spacing: 0rem;}
	.pro_lt>li:first-child {
		width: 8%;}
}

@media screen and (max-width:320px) {
	.pro_lt > li> img {
		float: left;
		width: 108%;}
	.pro_rt >li> img {
		width: 50%;}
	
	.pro_mid >li:first-child{ float: left; width: 15%;}
	.pro_mid > li {width: 36%;}
	
}


.ulbox{}


.collection > div > ul { text-align: center;
    width: 80%;
	margin: auto;}
	


.ulbox> ul > li{    float: left;
    width: 31%;
    margin: auto;
    height: 18rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    text-align: right;
    overflow: hidden;
    font-family: 'Cabin', sans-serif;
}
.ulbox> ul > li> h2{ font-weight: bold; font-size: 2.25rem;letter-spacing: 1.25rem;
					 font-style: italic;}


.ulbox> ul > li> img{width:100%;}



.colletul> li:nth-child(1){  border: .1rem solid #a65c87;}
.colletul> li:nth-child(1):hover{ background-color: #a65c87; color:#f8e6f5}

.colletul> li:nth-child(3){ background-color: #a65c87; color:#f8e6f5 }
.colletul> li:nth-child(3):hover{ background-color:#e3d3e0; color: #121212}

.RUNNING > li:nth-child(1){border: .1rem solid #b7c3d5; }
.RUNNING > li:nth-child(1):hover{ background-color:#b7c6d9; color: #245789}
.RUNNING > li:nth-child(2) { overflow: hidden; }
.RUNNING > li:last-child{ }


@media screen and (max-width:1028px) {
	
	.collection > div > ul {width: 100%;}
	.ulbox> ul > li> h2{font-size: 2rem; letter-spacing: 0rem;}
	 
}


@media screen and (max-width:768px) {
	
	.collection > div > ul {width: 100%;}
	.ulbox> ul > li{ width: 31.3%}
	.ulbox> ul > li> h2{font-size: 2rem; letter-spacing: 0rem;}
	 
}

@media screen and (max-width:480px) {
	
	.ulbox> ul > li{ width: 42.3%;}	 
}

@media screen and (max-width:320px) {
	.ulbox> ul > li {width: 46%;}
	.ulbox> ul > li> img{width:120%;}}

.footbg {font-family: 'Cabin', sans-serif;
		background-color:#121212; color: #eee}
		

 

.footbg >div> ul {float: left; width: 24%;
    				text-align: left; padding: 4.05rem;}


.footbg >div> ul> li > h2,h3{ font-weight: 800}


.footbg >div> ul> li > h2{line-height: 3.25rem}
.footbg >div> ul> li >span {line-height: 2rem;}

.SOCIAL> li > a> span{float: left; width: 10%;}

.Info {}

.Info> ul > li{
	float: right;
    width: 100%;
	text-align: right;}
	

	@media screen and (max-width:768px) {
	
		.footbg >div> ul{ float: none;
			width: 100%; }
		.footbg >div> ul>li{ float: left; margin-right: 2% }
	}

	@media screen and (max-width:480px) {
	
		
		.footbg >div> ul>li{ margin-right: 4% }
	}

	@media screen and (max-width:320px) {

		

		.footbg >div> ul>li>h2{ font-size: 2rem;
		}

		.footbg >div> ul>li>h3{font-size: 2rem;}
	}
	.footbg >div> ul {
		float: left;
	}

	}