@import 'base.css';

/***** 공통사항 *****/
@media screen and (max-width:768px) {
	html, body {font-size:14px;}
}
@media screen and (max-width:480px) {
	html, body {font-size:12px;}
}
@media screen and (max-width:320px) {
	
}

@keyframes sizeUp {
	0% {transform:scale(1);}
	100% {transform:scale(1.2);}
}
@keyframes sizeDn {
	0% {transform:scale(1.2);}
	100% {transform:scale(1);}
}

/***** Header *****/
header {width:100%; position:fixed;  font-size:1rem; background-color: white; z-index:999; top:0;}
.logo {margin-top: 3em; margin: auto}
.nav {cursor:pointer;}

/***** navigation PC *****/
.navs1{font-family: 'Cabin', sans-serif; background-color: #121212; color: #f1f1f1; float: left; width: 100%}
.nav1 { float: right; padding:0.75em }
.navs2{text-align: center;}
.nav2 {display: inline-block; padding:0.75em; }
.logo{text-align: center; padding:1em;}



.banner {position:relative; margin-top:3rem;}
.banner_wrap {position:relative; width:100%;} /*배너무빙의 기준*/
/***** banner PC .banner_wrap > li {position:absolute; width:100%;}
.banner_slogan {position:absolute; width:90%; left:5%; top:50%; color:#fff; transform:translateY(-50%); font-size:1rem;}
.banner_slogan > h1 {font-size:4em; margin-bottom:0.75em;}	
.banner_slogan > h4 {font-size:1.5em; margin-bottom:1em;}	
.banner_slogan > button {font-size:1em; padding:1em; 
	background-color:rgba(248, 248, 219, .7); color:#121212; border:none;}	
.banner_slogan > button:hover {background-color:rgba(248, 248, 219, 1);}
*****/


.page1{   }

.box1{ background-color: #cab7e5;
	   position: relative; height: 30em; margin-top: 10rem}

.box1 > h2 { font-family: 'Volkhov', serif;
					font-size: 5rem;
				   display: inline-block;
				  color:#2d1f42; letter-spacing: 2.25rem;
				  margin-top: 3rem; }


.img1{ float: left; 
    width: 33.3%;}
.img1 > img{width: 86.5%; float: right; margin-top: 1rem; }

.img2{ float:  left; width: 33.3%;}
.img2 > img {width: 91%;right: 10rem; margin-top: -5rem;}

.text{float: left; 
      width: 33.3%;
}
.img_txt1{margin: 5rem; line-height: 2.25rem;}

.img_txt1 > h3 { color:#e9dbfc; font-family: 'Volkhov', serif; font-size: 1,25rem }
.img_txt1 > h3 > strong { color: #3e1768; font-style: italic; font-size: 2rem}


.img_txt2{  background-color: #f1f1f1; width: 70%; height: 5rem; float: right;}
.img_txt2  > div > h3 { font-weight: bold; color:#7d4a65;  }
.img_txt2 > div {text-align: center; padding: 1rem;}


.page2 { margin: 3rem 0 3rem 0;}
.bg{ background-color: #0a3442; position: relative; }

.box2{ float: left;  background-color: #f1f1f1; width: 70%;margin: auto}

.tit{ float: left; width:20%; }
.tit > h1 {color: #e8e9e8;font-family: 'Volkhov', serif; font-size: 3.25rem;
	writing-mode: vertical-rl; margin: auto;  }
.shoes{}
.shoes > li { float: left; width: 50%; padding: 1rem;}
.shoes > li > img{width: 90.5%;}

.shoes > li > h2{ font-family: 'Cabin', sans-serif; font-weight: bold;}
.shoes > li > span{ font-family: 'Nanum Gothic', sans-serif; }





.md_hd{ margin: auto; text-align: center; margin: auto;
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;}

.md_hd > h2 { font-size: 2rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
	margin-bottom: 1.25rem;}
	
.md_hd >ul >li{ display: inline-block; margin: auto;
				padding: 1.25rem; }

.md_shoes{ margin: auto; width: 70%; }

.md_shoes >li > h2 {font-size: 2rem; font-weight: bold; }

.md_box > h2 { font-family: 'Nanum Gothic', sans-serif;
		       font-weight: bold; color: #f1f1f1; font-size: 1.25rem }


.md_shoes > li {width: 52.2%; float: left; }
.md_shoes > li > img { width: 78%; margin: auto; }


.shoes_box{float: left; width: 47%; }
.shoes_box > li{float: right;
    width: 46%;
    border: 0.1em solid #eee;
    margin-left: 1rem;
	margin-bottom: 1rem;}

.shoes_txt > h3{ font-family: 'Nanum Gothic', sans-serif;
font-size: 1rem; font-weight: bold; line-height: 1.6rem; margin: 0.1rem 1rem;  }


.md_shoes >li> div {background-color: #6d9ba6; width: 78%; padding: 2rem;} 
.box_img >img { width: 99.9%;
    padding: 1rem;
}
.PRODUCTS{ margin: auto; font-family: 'Volkhov', serif; margin: 1rem;}


.pro_lt > li> img{
    float: left;
	width: 95%
	}

	
 

.pro_lt> li  { letter-spacing: 2.25rem; }
.pro_lt > li:last-child{width: 45%; padding: 1rem; float: left;}
.pro_lt>li> h2{font-size:2.6rem;writing-mode: vertical-rl;
				border-right: 0.1rem solid #d3aae0; float: right;
			font-weight: bold;}
.pro_lt>li> h3{ border-bottom: 0.1rem solid #d3aae0; display: inline-block;}



.pro_lt>li:first-child{float: left; width:5%;}

.pro_mid{ float: left; width: 16%}
.pro_mid >li:first-child > h4 { writing-mode: vertical-rl;margin: auto; }
.pro_mid >li:first-child{border: none;}
.pro_mid > li{ width: 100% ;display: inline-block; text-align: center;
	margin: 1rem; border: 0.1rem solid #eee; padding: 1rem;}
	
.pro_mid > li > h3 {font-family: 'Nanum Gothic', sans-serif; font-size: 0.8rem; }
.pro_mid> li >img{ width:65.5% }


.box_nb > h4 { writing-mode: vertical-rl;}


.pro_rt{ float: right;}
.pro_rt >li> img { float: right}
.pro_rt > li > h2{letter-spacing: 2.25rem; text-align: right; ;}
.pro_rt > li > h2 >span{}

.ulbox{}
.colletul{ display: inline-block;
    text-align: center;}
.ulbox> ul > li{float: left;
    width: 33.3%;
    margin: auto;
}
.ulbox> ul > li> img{width:80%}